<div class="container">
  <div class="form">
    <h2 class="font-xl">{{ user.id ? ("USER.form.edit" | translate) : ("USER.form.add" | translate) }}</h2>

    <label>{{ "USER.form.firstName" | translate }}</label>
    <input [(ngModel)]="user.firstName" placeholder="{{ 'USER.form.firstName' | translate }}"/>

    <label>{{ "USER.form.lastName" | translate }}</label>
    <input [(ngModel)]="user.lastName" placeholder="{{ 'USER.form.lastName' | translate }}" />

    <label>{{ "USER.form.email" | translate }}</label>
    <input type="email" [(ngModel)]="user.email" placeholder="{{ 'USER.form.email' | translate }}" />

    <label>{{ "USER.form.password" | translate }}</label>
    <input type="password" [(ngModel)]="user.password" placeholder="{{ 'USER.form.password' | translate }}" />

    <label>{{ "USER.form.vehicleType" | translate }}</label>
    <input [(ngModel)]="user.vehicleType" placeholder="{{ 'USER.form.vehicleType' | translate }}" />

    <label>{{ "USER.form.licensePlate" | translate }}</label>
    <input [(ngModel)]="user.licensePlate" placeholder="{{ 'USER.form.licensePlate' | translate }}" />

    <label>{{ "USER.form.consumption" | translate }}</label>
    <input [(ngModel)]="user.consumption" type="number" placeholder="{{ 'USER.form.consumption' | translate }}" />

    <label>{{ "USER.form.odometer" | translate }}</label>
    <input [(ngModel)]="user.odometer" type="number" placeholder="{{ 'USER.form.odometer' | translate }}" />

    <label>{{ "USER.form.tankStatus" | translate }}</label>
    <input [(ngModel)]="user.tankStatus" type="number" placeholder="{{ 'USER.form.tankStatus' | translate }}" />

    <button
      (click)="add()"
      class="button button-success"
    >
      {{ "CORE.confirm" | translate }}
    </button>
  </div>
</div>
