<div class="container">
  <div class="form">
    <h2 class="font-xl">{{ 'ROUTE.form.add' | translate }}</h2>

    <label>{{ 'ROUTE.form.route' | translate }}</label>
    <input
      [required]="true"
      required
      [(ngModel)]="route.route"
      placeholder="{{ 'ROUTE.form.route' | translate }}"
    />

    <label>{{ 'ROUTE.form.distance' | translate }}</label>
    <input
      [required]="true"
      [(ngModel)]="route.distance"
      placeholder="{{ 'ROUTE.form.distance' | translate }}"
    />

    <div class="d-flex justify-content-end">
      <button class="button button-success" (click)="add()" [disabled]="checkRoute()">
        {{ 'CORE.confirm' | translate }}
      </button>
    </div>
  </div>
</div>
