<table>
  <thead>
    <tr>
      <th>Meno užívateľa</th>
      <th>Typ vozidla</th>
      <th>ŠPZ</th>
      <th>Spotreba</th>
      <th>Stav tachometra</th>
      <th>Stav nádrže</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.vehicleType }}</td>
      <td>{{ user.licensePlate }}</td>
      <td>{{ user.consumption }}</td>
      <td>{{ user.odometer }}</td>
      <td>{{ user.tankStatus }}</td>
    </tr>
  </tbody>
</table>
